<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>

<div class="bg-yellow-100 p-4 rounded-lg shadow-lg">
    <p class="text-lg font-bold text-center">Propriété C (€150)</p>
</div>

<div class="w-20 h-20 border-2 border-gray-500 flex items-center justify-center bg-white rounded-md">
    <span class="text-sm font-bold">€150</span>
</div>


<div class="grid grid-rows-11 grid-cols-11 w-[600px] h-[600px] border-4 border-gray-700 relative">
    <!-- Cases sur le bord supérieur -->
    <ng-container *ngFor="let i of topRow">
        <div class="border border-gray-400 bg-white flex items-center justify-center text-sm font-bold">
            {{i.name}}<br>{{i.price ? '€' + i.price : ''}}
        </div>
    </ng-container>

    <!-- Cases côté droit -->
    <ng-container *ngFor="let i of rightColumn">
        <div class="border border-gray-400 bg-white flex items-center justify-center text-sm font-bold">
            {{i.name}}<br>{{i.price ? '€' + i.price : ''}}
        </div>
    </ng-container>

    <!-- Cases côté bas -->
    <ng-container *ngFor="let i of bottomRow">
        <div class="border border-gray-400 bg-white flex items-center justify-center text-sm font-bold">
            {{i.name}}<br>{{i.price ? '€' + i.price : ''}}
        </div>
    </ng-container>

    <!-- Cases côté gauche -->
    <ng-container *ngFor="let i of leftColumn">
        <div class="border border-gray-400 bg-white flex items-center justify-center text-sm font-bold">
            {{i.name}}<br>{{i.price ? '€' + i.price : ''}}
        </div>
    </ng-container>

    <!-- Centre -->
    <div class="row-start-2 row-end-11 col-start-2 col-end-11 flex items-center justify-center bg-yellow-100">
        <p class="text-xl font-bold text-center">Ganopoly Express</p>
    </div>
</div>

<i class="fa-solid fa-dice"></i>
<i class="fa-solid fa-coins"></i>
<i class="fa-solid fa-gopuram"></i>

<router-outlet />
