<h1 class="text-3xl font-bold underline">
    Hello world!
</h1>


<div class="bg-white dark:bg-gray-800 rounded-lg px-6 py-8 ring shadow-xl ring-gray-900/5">
    <div>
        <span class="inline-flex items-center justify-center rounded-md bg-indigo-500 p-2 shadow-lg">
      <svg class="h-6 w-6 stroke-white">
        <!-- ... -->
      </svg>
    </span>
    </div>
    <h3 class="text-gray-900 dark:text-white mt-5 text-base font-medium tracking-tight ">Writes upside-down</h3>
    <p class="text-gray-500 dark:text-gray-400 mt-2 text-sm ">
        The Zero Gravity Pen can be used to write in any orientation, including upside-down. It even works in outer space.
    </p>
</div>

<div class="bg-yellow-100 p-4 rounded-lg shadow-lg">
    <p class="text-lg font-bold text-center">Propriété C (€150)</p>
</div>

<div class="w-20 h-20 border-2 border-gray-500 flex items-center justify-center bg-white rounded-md">
    <span class="text-sm font-bold">€150</span>
</div>

<button type="submit" class="block w-full rounded-md bg-indigo-600 px-3.5 py-2.5 text-center text-sm font-semibold text-white shadow-xs hover:bg-indigo-500 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Let's talk</button>

<div class="grid grid-rows-11 grid-cols-11 w-[600px] h-[600px] border-4 border-gray-700 relative">
    <!-- Cases sur le bord supérieur -->
    <ng-container *ngFor="let i of topRow">
        <div class="border border-gray-400 bg-white flex items-center justify-center text-sm font-bold">
            {{i.name}}<br>{{i.price ? '€' + i.price : ''}}
        </div>
    </ng-container>

    <!-- Cases côté droit -->
    <ng-container *ngFor="let i of rightColumn">
        <div class="border border-gray-400 bg-white flex items-center justify-center text-sm font-bold">
            {{i.name}}<br>{{i.price ? '€' + i.price : ''}}
        </div>
    </ng-container>

    <!-- Cases côté bas -->
    <ng-container *ngFor="let i of bottomRow">
        <div class="border border-gray-400 bg-white flex items-center justify-center text-sm font-bold">
            {{i.name}}<br>{{i.price ? '€' + i.price : ''}}
        </div>
    </ng-container>

    <!-- Cases côté gauche -->
    <ng-container *ngFor="let i of leftColumn">
        <div class="border border-gray-400 bg-white flex items-center justify-center text-sm font-bold">
            {{i.name}}<br>{{i.price ? '€' + i.price : ''}}
        </div>
    </ng-container>

    <!-- Centre -->
    <div class="row-start-2 row-end-11 col-start-2 col-end-11 flex items-center justify-center bg-yellow-100">
        <p class="text-xl font-bold text-center">Ganopoly Express</p>
    </div>
</div>

<i class="fa-solid fa-dice"></i>
<i class="fa-solid fa-coins"></i>
<i class="fa-solid fa-gopuram"></i>

<router-outlet />
